<h2>Países</h2>
<hr />
<ul class="list-group">
  <!--<li
    class="list-group-item"
    routerLink=""
    [routerLinkActiveOptions]="{ exact: true }"
    routerLinkActive="active"
  >
    Ir al inicio
  </li>
  <li
    class="list-group-item"
    routerLink="about"
    routerLinkActive="active"
  >
    Ir a la página about
  </li>
  <li
    class="list-group-item"
    routerLink="contact"
    routerLinkActive="active"
  >
    Ir a la página contact
  </li>-->
  <li
    class="list-group-item"
    routerLink="countries/by-capital"
    routerLinkActive="active"
  >
    Por capital
  </li>
  <li
    class="list-group-item"
    routerLink="countries/by-country"
    routerLinkActive="active"
  >
    Por países
  </li>
  <li
    class="list-group-item"
    routerLink="countries/by-region"
    routerLinkActive="active"
  >
    Por región
  </li>
</ul>
